{% extends 'base.html.twig' %}
{% block meta %}
<meta name="Keywords" content="Trung tâm anh văn Minh Anh, trung tâm ngoại ngữ Minh Anh, trung tâm anh văn Minh Anh Cần Thơ">
<meta name="description" content="Trung tâm Minh Anh Cần Thơ đào tạo các chứng chỉ anh van quốc gia, anh văn quốc tế IELTS - TOEIC, anh văn thương mại tại thành phố Cần Thơ">
<meta name="author" content="Minh Anh">
{% endblock %}
{% block title %} Ngoại ngữ Minh Anh {% endblock %}

{% block body %}
    
    <!--slider-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for slide in slider %}
            {% if(slide.getStatus() == true) %}
                {% if(slide == slider|last) %}
                <div class="carousel-item active">
                   <a href="{{ slide.getLink() }}"> <img  src="/uploads/images/{{ slide.getThumb() }}" class="d-block w-100" ></a>
                </div>
                {% endif %} 

                <div class="carousel-item">
                    <a href="{{ slide.getLink() }}"> <img  src="/uploads/images/{{ slide.getThumb() }}" class="d-block w-100" ></a>
                </div>

            {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>


    <!--Jumbo Tron-->
    <div class="jumbotron ">

        <div class="col-xl-10 col-xs-12 col-md-10 col-lg-10 col-xxs-12 mx-auto">
        <h1 class="display-4 text-center minhanhcolor">Minh Anh Cần Thơ - Dạy từ tâm</h1>
        <p class="lead">Chúng tôi với kinh nghiệm giảng dạy ngoại ngữ tại các trường đại học nổi tiếng tại Cần Thơ cộng với sự nhiệt tình và tình yêu đối với nghề chúng tôi cho ra lò những học viên xuất sắc và vững kiến thức ngoại ngữ, sẵn sàng đáp ứng mọi yêu cầu của nhà tuyển dụng cũng như các mục đích du học hay định cư nước ngoài.</p>
        <p class="lead">Trung tâm ngoại ngữ Minh Anh đang đào tạo các lớp: chứng chỉ quốc gia A - B - C theo chuẩn châu Âu, các chứng chỉ quốc tế: TOEIC, TOEFL, IELTS và các lớp anh văn căn bản dành cho các bạn học viên...</p>
        <hr class="my-4">

        <a class="btn btn-outline-minhanhcolor" href="{{ path('intro') }}" role="button">Tìm hiểu thêm</a>

    </div>


    </div>

    <!--Teaching Section-->
    <div class="container-md padding">
    <div class="row-welcome text-center ">
        <div class="col-lg-4 mx-auto">
        <h2 class="minhanhcolor">Chương trình đào tạo</h2>
        <hr>
        <p>Chương trình đào tạo tại trung tâm anh văn Minh Anh Cần Thơ, chương trình luôn được đội ngũ giảng dạy cập nhật và nâng cấp liên tục để đáp ứng nhu cầu của xã hội.</p>
        <hr>
        </div>
    </div>
    </div>
    <!--Tree collums section-->
    <div class="container-md padding">
    <div class="row text-center padding">
       {% for coursesgroup in coursesgroup_list %}    
        <div class="col-sm-4 text-center">
            <i class="fas fa-bold"><img  src="uploads/images/{{ coursesgroup.getThumb() }}" alt=""></i>
            <a class="course" href="/Dao-tao/{{coursesgroup.getId()}}"><h3 class="minhanh_text text-center"> {{ coursesgroup.getName() }}</h3></a>

            <ul class="course_list  text-center">
                {% for course in course_list %}
                    {% if(course.getCoursegroup().id() == coursesgroup.getId() ) %}
                        <li><a href="/Dao-tao/{{coursesgroup.getId()}}/{{ course.getId() }}" class="minhanh_link_1">{{ course.getName() }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
        {% endfor %}
    </div>
    <hr>
    </div>

    <!--Two collums section-->
    <div class="container-md padding">
    <div class="row padding mx-auto">
        <div class="col-lg-6 pb-3">
        <h3>{{ facility_ar.getName() }}</h3>
        <p>{{ facility_ar.getDescription() }}</p>
        <br>
        <a class="btn btn-outline-minhanhcolor" href="{{ path('facility') }}" role="button">Tìm hiểu thêm</a>
        </div>

        <!--Slider contain-->
        <div class="col-lg-6">
        <img class="img-fluid img-thumbnail" src="uploads/images/{{ facility_ar.getThumb() }}" alt="">
        </div>
    </div>
    <hr>
    </div>

    <!--Bảng vàng thành tích-->
    <div class="container-md p-5">
        <div class="row text-center">
            <div class="col-md-12 text-center">
            <h3 class="minhanhcolor text-center">Bảng vàng thành tích</h3>
            <p class="col-md-4 mx-auto">Niềm tự hào của trung tâm là đào tạo được các thế
                hệ học viên xuất sắc, đáp ứng nguồn nhân lực chất lượng cao cho xã hội.</p>
            </div>
            <div class="col-md-12 p-1">
                <div class="button-placement d-none d-sm-none d-md-block text-center" >
                    <a class="btn btn-sm btn-success" href="#carouselExample" role="button" data-slide="prev"> <i class="fas fa-chevron-circle-left"> <<<< </i> </a>
                    <a class="btn btn-sm btn-success" href="#carouselExample" role="button" data-slide="next"> <i class="fas fa-chevron-circle-right"> >>>> </i> </a>
                </div>
                <div class="button-placement d-md-none d-lg-none d-xl-none text-center">
                    <a class="btn btn-sm btn-success" href="#carouselExampleMobile" role="button" data-slide="prev"> <i class="fas fa-chevron-circle-left"> <<<< </i> </a>
                    <a class="btn btn-sm btn-success" href="#carouselExampleMobile" role="button" data-slide="next"> <i class="fas fa-chevron-circle-right"> >>>> </i> </a>
                </div>

            </div>


            <div id="carouselExample" class="carousel slide d-none d-sm-none d-md-block" data-ride="carousel">
                <div class="carousel-inner">
                    {% if student_list|length <= 4  %}
                        <div class="carousel-item active">
                            <div class="row">
                            {% for student in student_list %}
                                <div class="col-md-3 text-center">
                                <i class="fas fa-bold"><img class="rounded-circle w-25" src="uploads/images/{{ student.getThumb() }}" alt=""></i>
                                <p class="font-weight-bold">{{ student.getName() }}</p>
                                <p><label class="">{{ student.getCourse() }} &nbsp</label><a href="#" class="badge badge-success">{{ student.getPoint() }}</a></p>
                                </div>
                             {% endfor %}    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                            {% for student in student_list %}
                                <div class="col-md-3 text-center">
                                <i class="fas fa-bold"><img class="rounded-circle w-25" src="uploads/images/{{ student.getThumb() }}" alt=""></i>
                                <p class="font-weight-bold">{{ student.getName() }}</p>
                                <p><label class="">{{ student.getCourse() }} &nbsp</label><a href="#" class="badge badge-success">{{ student.getPoint() }}</a></p>
                                </div>
                             {% endfor %}    
                            </div>
                        </div>
                    {% endif %}

                    {% if student_list|length > 4  %}
                        <div class="carousel-item active">
                            <div class="row">
                            {% for student in student_list|slice(0, 4) %}
                                <div class="col-md-3 text-center">
                                <i class="fas fa-bold"><img class="rounded-circle w-25" src="uploads/images/{{ student.getThumb() }}" alt=""></i>
                                <p class="font-weight-bold">{{ student.getName() }}</p>
                                <p><label class="">{{ student.getCourse() }} &nbsp</label><a href="#" class="badge badge-success">{{ student.getPoint() }}</a></p>
                                </div>
                             {% endfor %}    
                            </div>
                        </div>

                        {% set block = student_list|length // 4 %}
                            {% for i in 1..(block-1) %}
                                <div class="carousel-item">
                                <div class="row">
                                {% for student in student_list|slice(4*i,4*i+3) %}
                                    <div class="col-md-3 text-center">
                                    <i class="fas fa-bold"><img class="rounded-circle w-25" src="uploads/images/{{ student.getThumb() }}" alt=""></i>
                                    <p class="font-weight-bold">{{ student.getName() }}</p>
                                    <p><label class="">{{ student.getCourse() }} &nbsp</label><a href="#" class="badge badge-success">{{ student.getPoint() }}</a></p>
                                    </div>
                                {% endfor %}    
                                </div>
                            </div>
                        {% endfor %}
                        
                    {% endif %}
                    <!-- Carousel Item 1 -->

                    {# <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <i class="fas fa-bold"><img class="rounded-circle w-25" src="images/student3.jpg" alt=""></i>
                            <h5>Nguyễn Văn An Giang</h5>
                            <p><label class="">B2 Châu Âu: &nbsp</label><a href="#" class="badge badge-success">7.5</a></p>
                        </div>
                        <div class="col-md-3 text-center">
                            <i class="fas fa-bold text-center"><img class="rounded-circle w-25" src="images/student2.jpg" alt=""></i>
                            <h5>Lê Thị Long An</h5>
                            <p><label class="">B2 Châu Âu: &nbsp</label><a href="#" class="badge badge-success">7.5</a></p>
                        </div>
                        <div class="col-md-3 text-center">
                            <i class="fas fa-bold"><img class="rounded-circle w-25" src="images/student.jpg" alt=""></i>
                            <h5>Giang Bạc Liêu</h5>
                            <p><label class="">B2 Châu Âu: &nbsp</label><a href="#" class="badge badge-success">7.5</a></p>
                        </div>
                        <div class="col-md-3 text-center">
                            <i class="fas fa-bold"><img class="rounded-circle w-25" src="images/student.jpg" alt=""></i>
                            <h5>Lý Tiền Giang</h5>
                            <p><label class="">B2 Châu Âu: &nbsp</label><a href="#" class="badge badge-success">7.5</a></p>
                        </div>
                    </div>
                    </div> #}
                    
                </div>
            </div>
        </div>
    </div>
    <!--Bài viết -->
    <div class="container-fluid padding p-4 minhanhbg">
    <div class="container-md">
        <div class="row col-md-12">
        <div class="col-12 text-center">
            <h2 class="minhanhcolor color-white ">Kinh nghiệm học Anh Văn</h2>
        </div>

        <div class="row col-md-12 col-s-12 pt-3 mx-auto">
        {% for article in article_list|slice(0,6) %}

            <div class="col-s-12 col-xs-12 col-md-6 col-lg-6 d-inline mt-15">
                <div class="w-100 h-100 border rounded shadow-sm bg-light">

                    <div class="col-s-12 col-md-12 col-lg-12 col-xl-6 float-left mtb-15">
                    <img class="w-100" src="uploads/images/{{article.getThumb()}}" alt="">
                    </div>

                    <div class="col-s-12 col-md-12 col-lg-12 col-xl-6 float-right mtb-15">
                        <a href="/Kinh-nghiem-hoc-anh-van/{{ article.getSkill().id() }}" class="minhanh_blue_link">{{ article.getSkill() }}: </a>
                        <a href="/Kinh-nghiem-hoc-anh-van/{{ article.getSkill().id() }}/{{ article.getId() }}" class="minhanh_black_link_big">{{ article.getName() }}</a>
                        <p>{{ article.getCreatedate()|date('d-m-Y') }}</p>
                        <p>{{  article.getDescription()[0:54] }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>
        <div class="col-12 text-center pt-4" >
            <a class="" href="{{ path('skills') }}"><button type="button" class="btn btn-success">Xem thêm kinh nghiệm học Anh Văn</button></a>
        </div>
        </div>

    </div>
    </div>


{% endblock %}
