{% extends 'base.html.twig' %}
{% block meta %}
<meta name="Keywords" content="Chứng chỉ anh văn quốc gia, chứng chỉ quốc tế IELTS - TOEIC, anh văn thương mại">
<meta name="description" content="Chương trình đào tạo anh văn quốc gia, anh văn quốc tế IELTS - TOEIC, anh văn thương mại">
<meta name="author" content="Minh Anh">
{% endblock %}
{% block title %}Chương trình đào tạo trung tâm ngoại ngữ Minh Anh{% endblock %}

{% block body %}
<!--Breadcum-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chương trình đào tạo</li>
  </ol>
</nav>

<!--Teaching Section-->
<div class="container-md padding">
  <div class="row-welcome text-center ">
    <div class="col-lg-4 mx-auto">
      <h2 class="minhanhcolor">Chương trình đào tạo</h2>
      <hr>
      <p>Chương trình đào tạo tại trung tâm anh văn Minh Anh Cần Thơ, chương trình luôn được đội ngũ giảng dạy cập nhật và nâng cấp liên tục để đáp ứng nhu cầu của xã hội.</p>
      <hr>
    </div>
  </div>
</div>
<!--Tree collums section-->
<div class="container-md padding">
  <div class="row  text-center padding">
    {% for coursesgroup in coursesgroup_list %}    
        <div class="col-sm-4 text-center">
            <i class="fas fa-bold"><img  src="uploads/images/{{ coursesgroup.getThumb() }}" alt=""></i>
            <a class="course" href="/Dao-tao/{{coursesgroup.getId()}}"><h3 class="minhanh_text text-center"> {{ coursesgroup.getName() }}</h3></a>

            <ul class="course_list  text-center">
                {% for course in course_list %}
                    {% if(course.getCoursegroup().id() == coursesgroup.getId() ) %}
                        <li><a href="/Dao-tao/{{coursesgroup.getId()}}/{{ course.getId() }}" class="minhanh_link_1">{{ course.getName() }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    {% endfor %}

    {# <div class="col-sm-4">
      <i class="fas fa-bold"><img  src="images/coworking.png" alt=""></i>
      <a class="course" href="#"><h3 class="minhanh_text">Anh văn thương mại</h3></a>
      <ul class="course_list">
        <li><a href="#" class="minhanh_link_1">Anh văn thiếu nhi </a></li>
        <li><a href="#" class="minhanh_link_1">Anh văn thương mại</a></li>
        <li><a href="#" class="minhanh_link_1">Anh văn giao tiếp</a></li>
        <li><a href="#" class="minhanh_link_1">Ngữ âm đàm thoại </a></li>
      </ul>
    </div> #}

  </div>
  <hr>
  </div>
{% endblock %}
