{% extends 'base.html.twig' %}
{% block meta %}
<meta name="Keywords" content="{{ notice.getKeywords() }} ">
<meta name="description" content="{{ notice.getDescription() }} ">
<meta name="author" content="{{ notice.getAuthor() }} ">

{% endblock %}
{% block title %}{{ notice.getName() }}{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('notification')}}">Thông báo</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ notice.getName() }}</li>
  </ol>
</nav>

<div class="container-md">
  <div class="article_header">
    <h1 class="article_title_big">{{ notice.getName() }}</h1>
  </div>
  <div class="article_info text-center">
    <p>
      <label class="article_info">Nguồn: &nbsp</label>
      <label class="article_info">{{ notice.getAuthor() }}</label>
      <label class="article_info">&nbsp/&nbsp</label>
      <label class="article_info">{{ notice.getCreatedate()|date('d-m-Y') }}</label></p>

  </div>
  <div class="article_body ">
      <p>
      {{ notice.getDescription() }}
      </p>
      <br/>
      <img class="img-fluid" src="/uploads/images/{{ notice.getThumb() }}" alt="">
      <br/>
      <br/>
      <div id="content" class="article_content">
        {% autoescape 'html' %}
            {{ notice.getContent()|raw }} 
           
        {% endautoescape %}
      </div>
      <p><label class="article_info">Nguồn: &nbsp {{ notice.getAuthor() }}</label></p> 
      <hr>   

  </div>
  </div>
{% endblock %}
