{% extends 'base.html.twig' %}
{% block meta %}
<meta name="Keywords" content="{{ article.getKeywords() }} ">
<meta name="description" content="{{ article.getDescription() }} ">
<meta name="author" content="{{ article.getAuthor() }} ">

{% endblock %}
{% block title %}{{ article.getName() }}{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('skills')}}">Kinh nghiệm học anh văn</a></li>
    <li class="breadcrumb-item" aria-current="page">{{ article.getSkill }}</li>
    <li class="breadcrumb-item active" aria-current="page">{{ article.getName() }}</li>
  </ol>
</nav>

<div class="container-md">
  <div class="article_heade text-center">
    <h1 class="article_title_big">{{ article.getName() }}</h1>
  </div>
  <div class="article_info text-center">
    <p>
      <label class="article_info">Nguồn: &nbsp</label>
      <label class="article_info">{{ article.getAuthor() }}</label>
      <label class="article_info">&nbsp/&nbsp</label>
      <label class="article_info">{{ article.getCreatedate()|date('d-m-Y') }}</label></p>

  </div>
  <div class="article_body ">
      <h5>
      {{ article.getDescription() }}
      </h5>
      <br/>
      <img class="img-fluid" src="/uploads/images/{{ article.getThumb() }}" alt="">
      <br/>
      <br/>
      <div id="content">
         
         {% autoescape 'html' %}
            {{ article.getContent()|raw }} 
           
        {% endautoescape %}
      </div>
      <p><label class="article_info">Nguồn: &nbsp {{ article.getAuthor() }}</label></p> 
      <hr>
  </div>
  <div class="row">
    <div class="col-6 col-s-12">
      <h5>Có thể bạn quan tâm</h5>
      <ul class="course_list">
      {%  for similar in similar_list %}
        {% if(similar.getId() != article.getId() )  %}
        <li><a href="../{{ similar.getSkill().id() }}/{{ similar.getId() }}" class="minhanh_link_1">{{ similar.getName() }}? &nbsp</a><label class="article_info">{{ similar.getCreatedate()|date('d-m-Y') }}</label></li>
        
        {% endif %}
      {% endfor %}
      </ul>
    </div>
    <div class="col-6 col-s-12">
      <h5>Minh Anh đào tạo:</h5>
      <ul class="course_list">
        {% for course in course_list|slice(0,6) %}
        <li><a href="/Dao-tao/{{course.getCoursegroup().id()}}/{{course.getId()}}" class="minhanh_link_1">{{ course.getName()}} </a></li>
        {% endfor %}       
      </ul>
    </div>
  </div>
</div>
{% endblock %}