{% extends 'base.html.twig' %}

{% block title %}Kinh nghiệm học anh văn!{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('homepage')}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Kinh nghiệm học Anh Văn</li>
  </ol>
</nav>

<!--Teaching Section-->
<div class="container-md padding">
  <div class="row-welcome text-center ">
    <div class="album py-5 ">
    <div class="container border">

      <div class="row mt-3">
        <div class="form-group col-md-4">
          {# {{ render(controller('App\\Controller\\SkillsController::showsoptions')) }} #}
           <select id="inputState" class="form-control">
            <option value="all" selected>Chọn chủ đề </option>
            {% for skill in skill_list  %}
              <option value="{{ skill.getId() }}">{{ skill.getName() }}</option>
            {% endfor %}
            {# <option>Ngữ Âm</option>
            <option>Ngữ Pháp</option>
            <option>...</option> #}

          </select> 
        </div>
      </div>

      <div class="row">

      {% for article in article_list %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/images/{{ article.getThumb() }}" alt="">
            <div class="card-body">
              <div class="row">
                <a class="minhanh_blue_link_big">{{ article.getSkill() }}: &nbsp</a>
                <a href="../Kinh-nghiem-hoc-anh-van/{{ article.getSkill().id() }}/{{ article.getId() }}" class="minhanh_black_link_big">{{ article.Name() }}</a>
              </div>
              <p class="card-text"> {{ article.getDescription[0:75] }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="../Kinh-nghiem-hoc-anh-van/{{ article.getSkill().id() }}/{{ article.getId() }}" type="button" class="btn btn-sm btn-outline-minhanhcolor minhanhcolor">Đọc thêm</a>
                  <a href="#" type="button" class="btn btn-sm btn-outline-info">Save</a>
                </div>
                <small class="text-muted">{{ article.getCreatedate()|date('d-m-Y') }}</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
      <div class="row mt-3 ml-1">

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link btn-outline-minhanhcolor" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">1</a></li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">2</a></li>
            <li class="page-item"><a class="page-link btn-outline-minhanhcolor" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link btn-outline-minhanhcolor" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

    </div>
  </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script language = "javascript"> 
  $("#inputState").change(function(){
    var select_value = $(this).children("option:selected").val();
    var text =  $(this).children("option:selected").text();
    var url= window.location.origin; 
    //alert(url+"/Kinh-nghiem-hoc-anh-van/"+select_value);
     location.href = url+"/Kinh-nghiem-hoc-anh-van/"+select_value;
  });
  
</script> 
 


{% endblock %}